/* .imag{
	    display: inline-block;
margin-left: 10%;
		margin-right: 10%;
		width: 33%;
	margin-top: 0px;
	height:350px;
	background-repeat: cover;

background-size: cover;

    padding: 10px;
    overflow: hidden;

} */


.imag {
    display: inline-block;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    width: 31%;
    /* margin-top: 0px; */
    height: 350px;
    background-repeat: cover;
    background-size: cover;
    padding: 0.8%;
    overflow: hidden;
}

.imag1{


		width: 200px;
	margin-top: 0px;
	height:500px;
	background-repeat: cover;

background-size: cover;

    padding: 10px;
    overflow: hidden;

}
#Summary{
	text-align: center;
	color: Black;
	margin-top: 4%;
	font-size: 40px;
	font-family: 'Aclonica';
}
#key{
	margin-left: 40%;
	color: Black;
	margin-top: 4%;
	font-size: 40px;
	font-family: 'Aclonica';
}
#Team{
	margin-left: 40%;
	color: Black;
	margin-top: 4%;
	font-size: 40px;
	font-family: 'Aclonica';
}
#Trailer{

  text-align: center;
  padding: 20px;
	color: White;
	margin-top: 4%;
	font-size: 40px;
	font-family: 'Aclonica';
background-color: black
}

.para{
		margin-left: 10%;
		margin-right: 10%;
	color: Black;
	margin-top: 4%;
	font-size: 25px;
	font-family: 'Aclonica';
	text-align: justify;
}
.Font2{
	font-family: serif;
	font-size: 20px;
	margin-top: 40px;
	color: #C8A451;
	font-style: italic;
	margin-bottom: 5px;
	width: 220px;

}

.heading{
	font-family: helvetica, sans-serif;
	font-size: 10px;
	line-height: 2px;
	margin-top: 23px;
	margin-left: 85px;
	margin-bottom: 0px;
	color: red;
}
.heading2{
	font-family: helvetica, sans-serif;
	font-size: 10px;
	line-height: 15px;
	color: grey;
margin-top: 0px;
letter-spacing: .2px;

}

h1{
	font-family: "Great Vibes", cursive;

	text-align: center;
	color:red;
	font-weight: 400;
	letter-spacing: 5px;
	margin-top: -12px;
	margin-bottom: 35px;
	letter-spacing: 6px;
	color: Black;  font-size: 60px;
	 line-height: 58px;

}
.ul1 {
	text-align: center;
	font-family: 'Aclonica';
	color: grey;
	list-style-type:none;
font-size: 20px;
background-color: #292a33;
	padding:20px;
	margin-bottom: 7px;
	    margin-top: 1px;


	}

.li{font-size: 20px;
		display: inline;

	}
		.current:hover
	{
		color:#DEDEDE;

		}
		.rest:hover
	{
		color:#DEDEDE;

		}

	.current{
		text-decoration: none;
		margin-left: 5%;
		margin-right:5%;
		color:white;
		font-size: 20px;
	}
	.rest
	{
		text-decoration: none;
		color: white;
		margin-right:5%;
		font-size: 20px;

		}


	}

		li a {
			padding: 10px 31px;
		}
		hr{
			display: block;
			border-top: .8px;
			height: 1px;
			margin-left: 1%
			padding:0;

margin-top: -7px;}

		body{
			width: 100%;
			height: 100%;
			padding: 0;
			background-color: #f5f5dc;
			margin-left: 0;


			}
.back{
	width: 700px;
	height:400px;

}
.new{
	margin-top: 87px;
	width: 263px;
	height: 350px;
}
.verynew{
margin-left: 65px;
	background-color: white;
	width: 270px;

}

.new1{
	margin-top: 30px;
	width: 263px;
	height: 180px;

}
.verynew2{
	float: right;
	background-color: white;
	width: 345px;

}
		.three{
			position: relative;
			margin-top: 50px;
			background-image: url(https://static.wixstatic.com/media/97c5db_60e6b598cdc74eeab167d73f2091e3d4.png/v1/fill/w_1858,h_1200,al_c,q_90,usm_0.66_1.00_0.01/97c5db_60e6b598cdc74eeab167d73f2091e3d4.webp);
			margin-left: 65px;
			background-size: 100%;

			width: 570px;
			height: 370px;
				margin-right: 80px;

					}
.abc{
	width: 100%;
	margin-top: 0px;
	height:800px;
	background-repeat: cover;
	background-attachment: fixed;
background-size: cover;

    padding: 0px;
    overflow: hidden;



	}

.abc2{
background-image: url("desert.gif");
}

	.rest1:hover
	{
		color:#DEDEDE;

		}

		.four{font-family: helvetica, sans-serif;
	font-size: 10px;
	line-height: 2px;
	margin-top: 35px;
	margin-left: 295px;
	margin-bottom: 0px;
	letter-spacing: .8px;

	color: grey;


		}
		.subfour{
			font-family: serif;
	font-size: 20px;
	color: #C8A451;
	font-style: italic;
	margin-left: 90px;
	letter-spacing: 1px;
	margin-bottom: 2px;
	}
.subsubfour{
	font-family: serif;
	font-size: 20px;
	color: #C8A451;
	font-style: italic;
	margin-left: 270px;
	letter-spacing: 1px;
	margin-top: 3px;
margin-bottom: 3px;
}
.subsubsubfour{
	font-family: serif;
	font-size: 20px;
	color: #C8A451;
	font-style: italic;
	margin-left: 115px;
	letter-spacing: 1px;
	margin-top: 3px;
}
.pic2{
	background-image: url("water.jpg");

}
.pic{

	width: 100%;
	margin-top: 5%;
	height:800px;
	background-repeat: cover;
	background-attachment: fixed;
background-size: cover;

    padding: 0px;
    overflow: hidden;
	opacity: 0.77;
}
.pica2{
	background-image: url("space.gif");

}
.pica{

	width: 100%;
	margin-top: 5%;
	height:800px;
	background-repeat: cover;
	background-attachment: fixed;
background-size: cover;

    padding: 0px;
    overflow: hidden;
	opacity: 0.77;
}

footer{
	position: relative;
	margin-top: 0px;
	width: 100%;
	height:100%;
	background-color: white;
	margin-bottom: 15px;
	margin-left: 0px;
	padding: 0px;

}
/* Three columns side by side */
.column {
    float: left;
    width: 24%;
    margin-bottom: 16px;
    padding: 0.5%;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 600px) {
/*     .column {
        width: 100%;
        display: block;
    }
	body{
		width: 100%;
		display: block;
	} */
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

.logo{
    float: left;
    width: 10%;
    margin-left: 45%;
}
